<!DOCTYPE html>
<html style='background-color: rgb(35, 35, 35);'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Telux - IpBanned</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel='icon' type='image/x-icon' href='static/images/Telux.png'>
</head>

<script src="static/script.js"></script>
  
<body>
  <center>
  <div style='position: relative; margin-left: auto; margin-right: auto; font-family: Arial; border-style: solid; padding: 10px; border-color: rgb(20, 20, 20); background-color: rgb(30, 30, 30); color: rgb(255, 255, 255); border-width: 2px; width: 30%'>
    <span style='font-weight: 500; font-size: 20px; font-family: Arial; color: white;'>Your IP Address has been blocked from accessing this webpage. Please contact a domain admin to regain access or leave the webpage.</span>
  </div>
  </center>
</body>
  
</html>