<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Telux - Logs</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel='icon' type='image/x-icon' href='static/images/Telux.png'>
</head>

<script src="static/script.js"></script>

<body onload='loadlogs()'>
  <center>
    <div class='logholder'>
      <div>
        <h1>Account Creation Logs</h1>
        <div id='accountcreationlogs'>
        </div>
      </div>
      <div>
        <h1>Account Login Logs</h1>
        <div id='accountloginlogs'>
        </div>
      </div>
      <div>
        <h1>Profile Updated Logs</h1>
        <div id='profileupdatedlogs'>
        </div>
      </div>
      <div>
        <h1>User Searched Logs</h1>
        <div id='usersearchedlogs'>
        </div>
      </div>
      <div>
        <h1>User Created Post Logs</h1>
        <div id='usercreatedpostlogs'>
        </div>
      </div>
      <div>
        <h1>User Commented Logs</h1>
        <div id='usercommentedlogs'>
        </div>
      </div>
      <div>
        <h1>IP Logs</h1>
        <div id='iplogs'>
        </div>
      </div>
      <div>
        <h1>IP Ban Logs</h1>
        <div id='ipbanlogs'>
        </div>
      </div>
      <div>
        <h1>User Ban Logs</h1>
        <div id='userbanlogs'>
        </div>
      </div>
    </div>
  </center>
</body>

</html>